@* Navbar *@
@model Content_Management_System.Models.Shared.NavbarModel
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Content(PathDirectory.AnnouncementsPage)">CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content(PathDirectory.AnnouncementsPage)">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content(PathDirectory.AdminPostsPage)">My Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content(PathDirectory.DepartmentsPage)">Departments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content(PathDirectory.AccountCreationPage)">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                @if (Model?.UserName != null)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
                           data-bs-toggle="dropdown" aria-expanded="false">
                            @Model.UserName (@Model.Role)
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li>
                                <a class="dropdown-item" href="/">Account Settings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Content(PathDirectory.LogoutPage)">Logout</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
